<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-white py-4">
        <div class="" >
                <div>
                  <div class="">
                    <div class="d-md-flex justify-content-center w-100 pt-5 pt-md-0 ">
                      <div
                        style="font-size: 13px"
                        class="col-md-4 text-white  my-4 mb-5 text-left bg- d-flex align-items-center bg-"
                      >
                        <img src="../assets/12.png" class="img-fluid" width="65%" />
                      </div>
                      <div
                        style="font-size: 13px"
                        class="col-md-2 text-white  my-4 mb-5 text-left "
                        id="footer1"
                      ></div>
                      <div
                        style="font-size: 13px"
                        class="col-md-2 text-white  my-4 text-left"
                        id="footer2"
                      ></div>
                      <div
                        style="font-size: 13px"
                        class="col-md-3 text-white my-4 text-left"
                      >
                        <div class='mt-2 d-flex '>
                            <div class=""><img class="me-2"   src="https://img.icons8.com/ios-filled/18/eb870d/order-delivered.png"/></div> 
                            <div>Arkade House, Next to Children's Academy, A.S.Marg, Ashok Nagar, Kandivali (E), Mumbai 400 101, Maharashtra, India,</div>  
                        </div>
                        <div class='mt-2 d-flex '>
                          <div class=""><img class="me-2"  src="https://img.icons8.com/ios-glyphs/18/eb870d/phone--v1.png"/> </div>
                          <div>022 2886 3787 / 92228 92229</div>  
                        </div>
                        <div class='mt-2 d-flex '>
                          <div class=""><img class="me-2"  src="https://img.icons8.com/ios-glyphs/18/eb870d/phone-not-being-used.png"/> </div>
                          <div>022 2887 4742</div>  
                        </div>
                        <div class='mt-2 d-flex '>
                          <div class=""><img class="me-2"  src="https://img.icons8.com/material-rounded/18/eb870d/mail.png"/> </div>
                          <div>info@arkade.in</div>  
                        </div>
                        <div class='mt-2 d-flex '>
                          <div class=""><img class="me-2"  src="https://img.icons8.com/fluency-systems-filled/18/eb870d/internet.png"/> </div>
                          <div>www.arkade.in</div>  
                        </div>
                    </div>
                    </div>
                  </div>
                  
                </div>
        </div>
</div>

    <script>
      const data2 = [
        "About Us",
        "Our Projects",
        "Investors",
        "Careers",
        "Contact Us",
      ];
      const data3 = [
        "Newsroom",
        "Customer Care",
        "Sitemap",
        "Privacy Policy",
        "Disclaimer",
      ];
      const data4 = [
        "Arkade House, Next to Children's Academy, A.S.Marg, Ashok Nagar, Kandivali (E), Mumbai 400 101, Maharashtra, India,",
        "022 2886 3787 / 92228 92229",
        "022 2887 4742",
        "info@arkade.in",
        "www.arkade.in",
      ];

      var Footer1 = document.getElementById("footer1");
      var Footer2 = document.getElementById("footer2");
      var Footer3 = document.getElementById("footer3");

      $(function () {
        data2.map((val, index) => {
          $(Footer1).append("<div class='mt-2'>" + val + "</div>");
        });

        data3.map((val, index) => {
          $(Footer2).append("<div class='mt-2'>" + val + "</div>");
        });

        data4.map((val, index) => {
          $(Footer3).append("<div class='mt-2'>" + val + "</div>");
        });
      });
    </script>
  </body>
</html>
