<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

</head>
<body>
    <div
        class=" first"
      >
        <div class='w-[632px] h-[183px] position-relative text-white font-weight-bold text-4xl left-[200px] top-[195px]'>
        <div class='position-absolute whitespace-pre-wrap gap-8'>
            
             <p class='text-[#eb870d] font-normal leading-8  text-sm'>
             B U I L D   A N Y T H I N G   W I T H  U S
           
             </p>
             <p class=' leading-8 py-4 '>


             <p>SED UT PERSPICIATIS </p>
             <p class='pt-4 '>UNDE OMNIS ISTE NATUS</p>
             </p>
            <button class='text-white bg-[#eb870d]  py-2 px-8  text-xs font-normal'>
            DESCOVER MORE
            </button>
            
        </div>
        </div>
      </div>
</body>
</html>