<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARKADE </title>
</head>
<body>
    <div >
        <div class="image position-relative">
            <img src="../assets/01.png" class="w-100 img-fluid" style="height: 33.5rem;" alt="">
            <div class='col-md imageText position-absolute overflow-hidden' style="top: 42%; left: 10%;">
                     <p class='imageText1' style="color: #eb870d;">
                        BUILD ANYTHING WITH US
                     </p>
                     <p class='imageText2 mt-3'>
                        <h3 style=" font-weight: bolder;" >SED UT PERSPICIATIS </h3>
                        <h3 style=" font-weight: bolder;" >UNDE OMNIS ISTE NATUS</h3>
                     </p>
                    <div style="background-color: #eb870d; font-size: small; width: 35%; font-weight: lighter;" class='py-2 px-2 mt-3 d-flex justify-content-center'  >
                        DESCOVER MORE
                    </div>
              </div>
        </div>
    </div>  
</body>

</html>