<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ARKADE</title>
  </head>
  <body>
    <div class="container-fluid ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 py-5 text-center info">WE ARE ARKADEGROUP</div>
        </div>
        <div class="row-cols-auto ">
          <div class="row-cols-auto  d-md-flex ">
          <div class="col-md-6  pb-5 me-md-auto">
              <div class="row">
                  <div class="col-1 ps-md-4  info1 text-center d-none d-md-block">
                      TEL: 022 2886 3787
              </div>
              <div class="col-10  ">
                  <div class="First">
                    <div class="FirstImg">
                      <div class="Second"></div>
                      <div class="ThirdImg">
                        <div class="Third "></div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="col-md-5 col-lg-offset-1 py-3 ">
              <div class="col-md pb-5">
                  <div class="row">
                      <div class="col-10 ">
                          <div class="row info2 ">
                          <h4 class="row1">A littel about us</h4>
                          <h4 class="row2">There more to us than meets the eyes.</h4>
                      </div>
                      <div class="row">
                          
                          <p class=' row3 '>
                              It is quite easy to define an organization solely by what services it offers. More often than not, what an
              entity does in the most commercial sensebecomes the sole descriptor for its purpose of existence, i.e.
              except for thosewho choose to add to this description by transcending their traditional role. At Arkade
              Group, there is more to us than what meets the eye. What was started as a passionate drive to craft
              abodes by Shri Mangilal R. Jain in 1984 has now turned into much more than just that. Led by people who
              believe in the power of passion and leaps of faith, we have become Life Investors, multiplying life &
              providing contentment.
                              </p>
                      </div>
                      </div>
                      <div class="col-1 row4 text-center d-none d-md-block">
                          info@arkade.in
                     </div>
                  </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      </div>
  </body>
</html>
