<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>ARKADE </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center info">WE ARE ARKADEGROUP</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-1  info1 text-center">
                            TEL: 022 2886 3787
                    </div>
                    
                    <div class="col-9 m-auto">
                        <div class="row">
                            <div class="col ">
                                <div class="First">
                                    <div class="Second"></div>
                                    <img src="../assets/03.png" alt="" class="Third">
                                </div>
                            </div>
                            <div class="col infoText">
                                <div class="row info2 ">
                                    <h4 class="row1">A littel about us</h4>
                                    <h4 class="row2">There more to us than meets the eyes.</h4>
                                </div>
                                <div class="row">
                                    
                                    <p class=' row3 '>
                                        It is quite easy to define an organization solely by what services it offers. More often than not, what an
                        entity does in the most commercial sensebecomes the sole descriptor for its purpose of existence, i.e.
                        except for thosewho choose to add to this description by transcending their traditional role. At Arkade
                        Group, there is more to us than what meets the eye. What was started as a passionate drive to craft
                        abodes by Shri Mangilal R. Jain in 1984 has now turned into much more than just that. Led by people who
                        believe in the power of passion and leaps of faith, we have become Life Investors, multiplying life &
                        providing contentment.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-1 row4 text-center">
                         info@arkade.in
                    </div>
                    
                </div>
            </div>
          
        </div>        
           
            </div>
</body>

</html>