<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='flex items-center justify-between h-[28rem]'>
        <div class=' h-full w-[40%] bg-green flex flex-col justify-center ml-[11%]'>
            <div class='flex mb-5'>
                <div class='line border-l-[8px] border-[#EB870C] h-[6.3rem]'></div>
                <div class='ml-2'>
                    <div class='mb-[5px] tracking-wide font-semibold text-[85%] text-[#858585]'>A R K A D E</div>
                    <div class='mb-1 text-4xl font-bold'>Life Investors,</div>
                    <div class='text-2xl font-semibold flex'><div>rather than developers</div> <div class='text-[#EB870C] text-[2.5rem] font-bold'> . </div></div>
                </div>
            </div>
            <div class='text-[12px] mb-5'>
                All our endeavours are dear to us. Some, however, are closest to our heart. They form a source of our pride and are perfect examples of why we call ourselves Life Investors. These are filled with life, to the brim.
            </div>
            <div class=' bg-[#EB870C] p-2 w-[25%] font-bold text-white text-center text-[12px]'>
                Take a look
            </div>
        </div>
        <div class='relative bg-red h-full w-[50%] flex items-center'>
            <div class='border-2 border-[#EB870C] w-[70%] h-[60%] ml-[11%]'> </div>
            <img src={img1} class="w-[70%] h-[60%] absolute left-[7.9%] top-[23.5%]" />
        </div>
    </div>
</body>
</html>