<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Jquery cdn -->
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
     <link rel="stylesheet" href="../style.css">
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
 
</head>
<body>
    <div class="py-3">
        <div class="d-md-flex g-3 py-5 my-5">
            <div class="col-md-5 mx-3">
                <div class="row info2 ">
                    <div class="invester1">A R K A D E</div>
                    <h4 class="invester2">Life Investors,</h4>
                    <h4 >rather than developers<span class="dot">.</span></h4>
                </div>
                <div class="row py-2">
                    <p class=' row3 '>
                        All our endeavours are dear to us. Some, however, are closest to our heart. They form a source of our pride and are perfect examples of why we call ourselves Life Investors. These are filled with life, to the brim.
                        </p>
                </div>
                <div class="row ">
                    <h6 class="investerbutton">
                        Take a look
                    </h6>
                </div>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5  investerImg3 d-flex justify-content-center justify-content-md-end align-items-center my-3 my-md-0">
                <div class="investerImg2 position-relative " style="width: 80%; z-index: 3;">
                    <img src="../assets/08.png" alt="" class="img-fluid" style="z-index: 1000;">
                </div>
                
            </div>
    
        </div>
    </div>
</body>
</html>