<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARKADE </title>
    
    
</head>
<body>

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <div class="col-md-2 me-2 ">
                        <img src="../assets/13.png" alt="Logo" class="logo w-auto ">
                    </div>
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      

                      <li class="nav-item ps-4">
                        <a class="nav-link" href="#" style="color: #eb870d;">Home</a>
                      </li>
  
                      <li class="nav-item ps-4">
                          <a class="nav-link" href="#">About Us</a>
                        </li>
  
                        <li class="nav-item ps-4">
                          <a class="nav-link" href="#">Our Projects</a>
                        </li>
  
                        <li class="nav-item ps-4">
                          <a class="nav-link" href="#">Investors</a>
                        </li>
                      
                        <li class="nav-item ps-4">
                          <a class="nav-link" href="#">Careers</a>
                        </li>
  
                        <li class="nav-item ps-4">
                          <a class="nav-link" href="#">Contact Us</a>
                        </li>
                      
                      
                    </ul>
                    <form class="d-flex">
                        <button class="d-none d-md-block form-control" style="background-color: #eb870d;">Schedule a site visit</button> 
                    </form>
                  </div>
                </div>
              </nav>
    
    
</body>

</html>