<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARKADE </title>
</head>
<body>
    <div class="container py-2 h-100">
        <div class="row text-center align-items-center">
            <div class="col-2 ">
                <img src="../assets/13.png" alt="Logo" class="logo">
            </div>
            <div class="col-md-7 m-auto home">
                <div class="row">
                    <div class="col-2 about">
                        Home
                    </div>
                    <div class="col-2 about">
                        About Us
                    </div>
                    <div class="col-2 about">
                        Our Projects
                    </div>
                    <div class="col-2 about">
                        Investors
                    </div>
                    <div class="col-2 about">
                        Careers
                    </div>
                    <div class="col-2 about">
                        Contact Us
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex  align-items-center h-100">
                <div class="col-10 py-2" style="background-color: #eb870d;">Schedule a site visit</div> 
            </div>
        </div>
    </div>  
</body>

</html>