<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         
        
</head>
<body>
        <div class='d-flex text-white w-100'>
            <div class="container">   
            <div class='row d-flex align-items-center'> 
              <div class='d-flex me-auto col-md-8 py-2'>
                <div class='d-flex justify-content-center align-content-center me-4'>
                    <div class="me-md-2 ">
                        <img class="" src="https://img.icons8.com/material-outlined/24/ffffff/mail.png"/>
                    </div>
                        info@arkade.in
                </div>
                <div class='d-flex justify-content-center align-content-center'>
                    <div class="me-md-2">
                        <img src="https://img.icons8.com/ios-glyphs/24/ffffff/phone--v1.png"/>
                    </div>
                    022 2886 3787 
                </div>
              </div>
              <div class="col-md-2 py-2 d-none d-md-block d-lg-block">
                <img style="width: 100%;" class="  " src="../assets/14.png" />
              </div>
            </div>
    
            <div class='col-1'>  </div>
        </div>
    </div>
    </div>
</body>
</html>