<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='d-flex justify-center items-center py-1 text-white text-xs' style="background-color: #393939;">
        <div class='text-stone-500 bg-red- basis-[5%] text-left'>
           
            
        </div>
        <div class='d-flex justify-between basis-[82%]'>
          <div class='d-flex'>
            <div class='d-flex justify-center text-md  items-center'>
                <Mail class='mr-1' size={17} />
                info@arkade.in
            </div>
            <div class='d-flex justify-center  text-md items-center ml-5'>
                <Phone class='mr-1' size={17} />
                022 2886 3787 
            </div>
          </div>
          <img class='w-[17%]' src="assets/14.png" />
        </div>
        <div class='text-stone-500 bg-red- basis-[5%] text-left'>
           
            
        </div>
    </div>
</body>
</html>