<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="height: 30rem;" class="position-relative ">
      <img src="../assets/09.png" style="background-size: cover; background-repeat: no-repeat;" class="w-100 h-100 img-fluid" />

      <div
        style="font-weight: bold; top: 45%; font-size: 50px"
        class="position-absolute w-100 row"
      >
        <div class="col-2 text-white opacity-50 text-end d-none d-lg-block" style="font-family: 'Iceberg';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 24px;
        /* or 40% */
        
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 12px;
        text-transform: uppercase;
        
        color: #CCCCCC;
        
        transform: matrix(1, 0, 0, -1, 0, 0);"><</div>
        <div class="col-8"></div>
        <div class="col-2 text-white opacity-50 d-none d-lg-block" style="font-family: 'Iceberg';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 24px;
        /* or 40% */
        
        display: flex;
        align-items: center;
        text-align: left;
        letter-spacing: 12px;
        text-transform: uppercase;
        
        color: #CCCCCC;
        
        transform: matrix(1, 0, 0, -1, 0, 0);">></div>
      </div>

      

      <div
        class="position-absolute text-white w-100 d-flex flex-column justify-content-center align-items-center px-5 testimonial-text"
        style="width: 650px;
        height: 200px;"
      >
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="56px" height="54px" fill="gray" class="bi bi-quote" viewBox="0 0 16 16">
          <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
        </svg>
      </p>
          <h2 style="font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          text-align: center;          
          color: #FFFFFF;" class="mb-4 d-flex">
            <div style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            text-align: center;            
            color: #EB870C;" class="me-2">Our</div>
            Testimonial
          </h2>
        <h6
          
          class="d-flex flex-column align-items-center mb-md-5 text-stone-300 opacity-75"
          style="font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 15px;
          text-align: center;
          
          color: #FFFFFF"
        >
          <p>
            Praesent volutpat ut nisl inlit hendrerit. Vestibulum antem ipsum
          </p>
          <p>
            sul primis in faucibus orci luctus et ultrices posible uere cubilia
            Curaemil mil Etiam porttitor, lacus in luctus
          </p>
          <p>mun Vestibulum antem ipsum isul primis in sco</p>
        </h6>
        <h6 class="d-flex "
        style="font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        color: #FFFFFF;        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
          <div style="font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-align: center;        
          color: #EB870C;         
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Logan Cee</div>
          - CEO at Typo INC
        </h6>
      </div>
    </div>
  </body>
</html>
